<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-">
      <div class="justify-content-center" >
        <div class="col-md-17 content_col">
            <h2 class="mb-4"><span id="welcome_txt">Welcome To </span><br><span id="snaproll_txt">SnapRoll</span></h2>
            <form>
              <div class="form-group">
                <label for="inputFName">First Name</label>
                <input type="text" class="form-control" id="inputFName" placeholder="Ex: Jakhongir" required>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputLName">Last Name</label>
                  <input type="text" class="form-control" id="inputLName" placeholder="Ex: Masharipov" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMName">Middle Name</label>
                  <input type="text" class="form-control" id="inputMName" placeholder="Ex: Alisher Og'li" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEnrollment">Enrollment №</label>
                <input type="text" class="form-control" id="inputEnrollment" placeholder="Ex: A85204923005" maxlength="12" required>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Faculty | Program</label>
                  <select id="inputState" class="form-control" required>
                    <option selected>B. Sc (IT)</option>
                    <option>B. TECH (CSE)</option>
                    <option>IFS</option>
                    <option>BBA</option>
                    <option>BA(TA)</option>
                    <option>BA (H) Eco</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Semester</label>
                  <select id="inputState" class="form-control" required>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputState">Section</label>
                  <select id="inputState" class="form-control" required>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
              </div>
              <div class="row" style="margin-bottom:15px;">
                <div class="col">
                   <button type="button" onclick="openCamera()" class="btn btn-success">Register a face</button>
                </div>
                <div class="col">
                    <div class="form-check" style="">
                        <span style="padding: 0 10px"></span>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                        <label class="form-check-label" for="defaultCheck2">
                          Face registered
                        </label>
                    </div>
                </div>
              </div>


              <button type="submit" class="btn btn-primary" style="padding: 7px 26px;">Sign up</button>

            </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
          <div>
            <h1 style="text-align: center;">3D model of the face</h1>
          </div>
      <!-- <div class="col controller">
          <button id="snap">Capture</button>
      </div>
      <button id="stopButton">Stop Stream</button> -->
    </div>
  </div>
  
  <div id="hiddenDiv">
    <video id="video" playsinline autoplay></video>
    <button id="snap" type="submit" class="btn btn-outline-success btn-lg">Take a shoot</button>
    <button id="stopButton" type="button" onclick='closeCamera()' class="btn btn-outline-danger btn-lg">Stop stream</button>
    <a id="downloadButton" style="display: none">Download Image</a>
  </div>
</div>


<canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>
