<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #register_id {
        text-align:center;
        }

    </style>
</head>
<body>

    <h1 id="register_id">
        <button class="btn btn-outline-success btn-lg">
            <a class="" href="/register">Student Register</a>
        </button>
        <br>
        <button class="btn btn-outline-success btn-lg">
            <a class="" href="/attendance">Mark Attendance</a>
        </button>
    </h1>

</body>
</html>
